*{
	margin: 0;
	padding: 0;
}
body {
	background-color: #FEE071;
	font-family: Sans-serif;
}

.title-home{
	width: 500px;
	margin:0 auto;
	text-align: center;
	margin-top: 100px;
}
header {
	font-family: 'Special Elite', cursive;	
}
.answers {
	list-style-type: none;
}
h1 {
	text-align: center;
	width: 600px;
	padding-top: 60px;
	padding-bottom: 40px;	
}
.hidden{
	display: none;
}
.show {
	padding: 20px;
	width: 400px;
}
.buttons, p{
	text-align: center;
}
.home img {
	text-align: center;
}

/*ul {
	width:33%;
	list-style:none;
	background: #FFFFFF;
}*/

/*li {
	background: #FFFFFF;
}
li:last-child {
	border-right:none;
}
*/
li a {
	display: block;
	width:80%;
	background:#FFFFFF;
	padding:4% 10%;
	font-size:1.35em;
	text-decoration: none;
	color: #4A4A4A;
}


@media screen and (max-width: 768px) {
	#menu {
		width:2.4em;
		display: block;
		background:#FEE071;
		font-size:2.3em;
		text-align: center;
		
	}
	.js {
		display: none;
	}
	ul {
		width:100%;
		list-style:none;
	}
	li {
		width:100%;
		border-right:none;
	}
}

@media screen and (min-width: 768px) {
	#menu {
		width:2.4em;
		display: block;
		background: #FEE071;
		font-size:2.3em;
		text-align: center;
	}
	.js {
		display: none;
	}
	ul {
		width:33%;
		list-style:none;
	}
}
