html,
body {
  font-family: "Merriweather", cursive;
  font-size: 1em;
  height: 100%;
  background-color: #FEE071;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
p {
    font-size: 15px;
    font-family: Merriweather, cursive;
    margin-top: 2px;
    padding-left: 6px;
}
h3{
    margin-top: 120px;
    font-family: Merriweather, cursive;
    font-size: 15px;
}
.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 66px;
  color: #fff;
  background-color: #000;
}

 img {  	
  width: 150px;
  height: 95px;
 }

.main {
  font-family: "Special Elite", cursive;
  text-align: center;
  padding-top: 66px;
  width: 300px;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.end{
  text-align: center;
  width: 300px;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
}
.quiz-choices{
  margin-left: auto;
  margin-right: auto;
  display: inline;
}
.quiz{
  width: 100%;
}
.center{
  text-align: center;
}
.hidden{
	display: none;
}
.inline{
  display: inline-block;
}

.questions{
  font-family: Merriweather, cursive;
  font-size: 15px;
  margin-top: 90px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
li{
  list-style-type: none;
  padding-bottom:5px;
}
p{
  text-align: center;
}




/* BUTTONS */
.begin{
  display: inline-block;
  background-color: black;
  border-radius: 10px;
  border: 2px solid grey;
  color: white;
  width: 200px;
  height: 180px;
  margin-top:100px;
  vertical-align: bottom;
  margin-right: 6px;
  margin-left: 6px;
  background-repeat: no-repeat;
  background-image: url(https://placekitten.com/200/200?image=13)
}
#next, #start-over {
    border: 1px solid black;
    width: 85px;
    font-size: 15px;
    font-family: Merriweather, cursive;
    border-radius: 6px;
    background-color: black;
    color: white;
    line-height: 30px;
}


/* RESPONSIVE */

@media only screen and (max-width: 768px) {
  #header__icon {
    width:30px;
		display: inline-block;
		background:#000;
    font-size: 2.3em;
		text-align: center;
  }
  .menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
  }
  .menu a {
    display: block;
    background: #000;
    font-size: 1.35em;
    line-height: 66px;
  }
   .menu a.hidden{
    display: none;
   }

}

@media screen and (min-width: 768px) {
  #header__icon {
    position: absolute;
    display: none;
  }
  .menu a{
    line-height: 66px;
    padding: 0 10px;
    font-family: "Merriweather", cursive;
  }
  .menu a:hover {
    color: #c5cae9; 
  }
  .menu a.hidden{
    display: inline-block;
  }

}