*{
	font-family: Sans-serif;
	margin: auto;
	
}
body {
	background-color: #FEE071;
}
.title-home{
	width: 500px;
	margin:0 auto;
	text-align: center;
	margin-top: 100px;
}
header {
	font-family: 'Special Elite', cursive;	
}
li{
	list-style-type: none;
}
h1 {
	text-align: center;
	width: 600px;
	padding-top: 60px;
	padding-bottom: 40px;	
}
.hidden{
	display: none;
}
.show {
	padding: 20px;
	width: 400px;
}
.buttons, p{
	text-align: center;
}
.home img {
	text-align: center;
}